* {
    margin: 0;
    padding: 0;
}

.calculator-wrapper {
    width: 500px;
    height: 800px;

    margin: 30px auto;
}

h1 {
    text-align: center;
}

.calculator {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px black;
    padding: 20px;
    background-color: gainsboro;
}

.result {
    height: 100px;
    width: 100%;
    font-size: 70px;

    margin: 10px auto;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    text-align: right;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;

    row-gap: 10px;
    width: 103%;
}

button {
    width: 100px;
    height: 100px;
    font-size: 50px;

    border-radius: 10px;
    background: linear-gradient(rgb(240 240 240), rgb(172, 170, 170));
}

button:hover {
    background: linear-gradient(rgb(172, 170, 170), rgb(240 240 240));;

}

#clear {
    grid-column-start: 3;
    grid-column-end: 4;
}

#back {
    grid-column-start: 4;
    grid-column-end: 5;
}